<h1><%= @user.username %></h1>
<ul>
  <li>
    <strong>Email:</strong>
    <%= @user.email %>
  </li>
  <li>
    <strong>Access:</strong>
    <%= @user.access %>
  </li>
  <li>
    <strong>Image:</strong>
    <%= @user.image %>
  </li>
  <li>
    <strong>Bio:</strong>
    <%= @user.bio %>
  </li>
</ul>
<span><%= link "Edit", to: Routes.current_user_path(@conn, :edit) %></span>
