<h1>@current_user.username</h1>
<strong>Email:</strong>
<%= @current_user.email %>
<strong>Image:</strong>
<%= @current_user.image %>
<strong>Bio:</strong>
<%= @current_user.bio %>
<span><%= link "Edit", to: Routes.account_path(@conn, :edit, @current_user) %></span>
<span><%= link "Back", to: Routes.account_path(@conn, :show) %></span>
