<h1>@user.username</h1>
<strong>Email:</strong>
<%= @user.email %>
<strong>Image:</strong>
<%= @user.image %>
<strong>Bio:</strong>
<%= @user.bio %>
<span><%= link "Edit", to: Routes.account_path(@conn, :edit, @user) %></span>
<span><%= link "Back", to: Routes.account_path(@conn, :show) %></span>
