/* This file is for your main application css. */

@import "./normalize.css";
@import "./codemirror.css";
@import "./toastui-editor.css";
@import "./prism.css";

:root {
  /* Dark Theme */

  /* primary text color */
  --color-1: #ccc;
  /* background text color */
  --color-2: #000;
  /* secondary text color */
  --color-3: grey;
  /* input border color*/
  --color-4: #ffffffaa;
  /* input, code block background color, scrollbar color */
  --color-5: #1f1f1f;
  /* button background color */
  --color-6: #325856;
  /* input placeholder color */
  --color-7: #00bd84aa;
  /* unvisited link text color */
  --color-8: #84c163;
  /* border color */
  --color-9: #42ffef;
  /* scrollbar color */
  --color-10: #3d5d99;
  /* scrollbar hover color */
  --color-11: #6283c0;
  --color-12: teal;
}


@media (prefers-color-scheme: light) {
  :root {
    /* Light Theme */

  /* primary text color */
    --color-1: #363636;
  /* background color */
    --color-2: white;
  /* secondary text color */
    --color-3: teal;
  /* input border color*/
    --color-4: #96bf00ab;
  /* input, code block background color, scrollbar color */
    --color-5: #efefef;
  /* button background color */
    --color-6: #ddd;
  /* input placeholder color */
    --color-7: #949494;
  /* unvisited link text color */
    --color-8: #3d6b00;
  /* border color */
    --color-9: #dbdbdb;
  /* scrollbar color */
    --color-10: #d5d5d5;
  /* scrollbar hover color */
    --color-11: #c4c4c4;
  }
}

body.set-to-light {
 /* Light Theme */

  /* primary text color */
    --color-1: #363636;
  /* background color */
    --color-2: #fff;
  /* secondary text color */
    --color-3: #000;
  /* input border color*/
    --color-4: #0096bfab;
  /* input, code block background color, scrollbar color */
    --color-5: #efefef;
  /* button background color */
    --color-6: #ddd;
  /* input placeholder color */
    --color-7: #949494;
  /* unvisited link text color */
    --color-8: #0076d1;
  /* border color */
    --color-9: #dbdbdb;
  /* scrollbar color */
    --color-10: #d5d5d5;
  /* scrollbar hover color */
    --color-11: #c4c4c4;
}

body.set-to-dark{
  /* Dark Theme */

  /* primary text color */
  --color-1: #ccc;
  /* background text color */
  --color-2: #000;
  /* secondary text color */
  --color-3: #eee;
  /* input border color*/
  --color-4: #00bd84aa;
  /* input, code block background color, scrollbar color */
  --color-5: #1f2716;
  /* button background color */
  --color-6: #325856;
  /* input placeholder color */
  --color-7: #00bd84aa;
  /* unvisited link text color */
  --color-8: #84c163;
  /* border color */
  --color-9: #42ffef;
  /* scrollbar color */
  --color-10: #3d5d99;
  /* scrollbar hover color */
  --color-11: #6283c0;
}


body {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  line-height: 1.4;
  margin: 0;
  padding: 0;
  color: var(--color-1);
  background: var(--color-2);
  text-rendering: optimizeLegibility;
  min-width: 320px;
}

.button, button, input, textarea {
  transition: background-color 0.1s linear, border-color 0.1s linear, color 0.1s linear, box-shadow 0.1s linear, transform 0.1s ease;
}

h1 {
  font-size: 2.2em;
  margin-top: 0;
  font-variant: small-caps;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin-bottom: 12px;
}

h1,
h2,
h3,
h4,
h5,
h6,
strong {
  color: var(--color-12);
}

h1,
h2,
h3,
h4,
h5,
h6,
b,
strong,
th {
  font-weight: 600;
}

blockquote {
  border-left: 4px solid var(--color-4);
  margin: 1.5em 0em;
  padding: 0.5em 1em;
  font-style: italic;
}

blockquote > footer {
  margin-top: 10px;
  font-style: normal;
}

blockquote cite {
  font-style: normal;
}

address {
  font-style: normal;
}

a[href^='mailto']::before {
  content: '📧 ';
}

a[href^='tel']::before {
  content: '📞 ';
}

a[href^='sms']::before {
  content: '💬 ';
}

nav {
  margin: 0 1rem 0 1rem;
  border-bottom: 2px solid var(--color-1);
  padding: 0 1rem 0 1rem;
  font-variant: petite-caps;
}

nav a {
  border-left: 1px solid var(--color-1);
  border-right: 1px solid var(--color-1);
  padding-left: 1rem;
  padding-right: 1rem;
}

nav a:first-child {
  border-left: none;
}

nav a:last-child {
  border-right: none;
}

.button, 
button,
input[type='submit'],
input[type='button'],
input[type='checkbox'] {
  cursor: pointer;
}

input:not([type='checkbox']):not([type='radio']),
select {
  /* display: block; */
}

input, select, .button, button, textarea {
  color: var(--color-3);
  background-color: var(--color-5);
  font-family: inherit;
  font-size: inherit;
  margin-right: 6px;
  margin-bottom: 6px;
  padding: 10px;
  border: none;
  /* border-radius: 6px; */
  outline: none;
}

input:not([type='checkbox']):not([type='radio']),
select, .button, button, textarea {
  -webkit-appearance: none;
}

textarea {
  margin-right: 0;
  width: 100%;
  box-sizing: border-box;
  resize: vertical;
}

.button, button, input[type='submit'], input[type='button'] {
  padding-right: 30px;
  padding-left: 30px;
}

.button:hover, button:hover,
input[type='submit']:hover,
input[type='button']:hover {
  background: var(--color-6);
}

input:focus,
select:focus,
.button:focus, 
button:focus,
textarea:focus {
  box-shadow: 0 0 0 2px var(--color-4);
}

input[type='checkbox']:active,
input[type='radio']:active,
input[type='submit']:active,
input[type='button']:active,
.button:active,
button:active {
  transform: translateY(2px);
}

input:disabled,
select:disabled,
.button:disabled,
button:disabled,
textarea:disabled {
  cursor: not-allowed;
  opacity: .5;
}

::-webkit-input-placeholder {
  color: var(--color-7);
}

:-ms-input-placeholder {
  color: var(--color-7);
}

::-ms-input-placeholder {
  color: var(--color-7);
}

::placeholder {
  color: var(--color-7);
}

a {
  text-decoration: none;
  color: var(--color-8);
}

a:hover {
  text-decoration: underline;
}

code, kbd {
  background: var(--color-5);
  color: var(--color-3);
  padding: 5px;
  /* border-radius: 6px; */
}

pre > code {
  padding: 10px;
  display: block;
  overflow-x: auto;
}

img {
  max-width: 100%;
}

hr {
  border: none;
  border-top: 1px solid var(--color-9);
}

table {
  border-collapse: collapse;
  margin-bottom: 10px;
  width: 100%;
}

td, th {
  padding: 6px;
  text-align: left;
}

th {
  border-bottom: 1px solid var(--color-9);
}

tbody tr:nth-child(even) {
  background-color: var(--color-5);
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-track {
  background: var(--color-5);
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb {
  background: var(--color-10);
  /* border-radius: 6px; */
}

::-webkit-scrollbar-thumb:hover {
  background: var(--color-11);
}

main {
  max-width: 800px;
  margin: 1rem;
}

@media only screen and (min-width: 832px)
{
  main {
    max-width: 800px;
    margin: auto;
  }
}

.post-meta {
  font-size: 12px;
  color: var(--post-meta);
}

ul>li>p {
    display: inline;
}
ul{
  list-style: disc;
}

/* .title{
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--color-3);
  font-weight: 700;
  text-decoration: none solid var(--text-decoration-color);
  font-style: normal;
  font-variant: small-caps;
  text-transform: none;
  color: transparent;
  background: var(--title-background-color);
  -webkit-background-clip: text;
  -moz-background-clip: text;
  background-clip: text;
  text-shadow: 0px 3px 3px var(--text-shadow-color);
} */

header {
    background: url(/images/banner.png) var(--color-1);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: calc(25vw);
}

.title {
  padding-left: 1rem;
  font-family: Impact, Charcoal, sans-serif;
  font-size: 40px;
  letter-spacing: 2px;
  word-spacing: 2px;
  color: var(--color-12);
  font-variant: small-caps;
}

.article-list-img {
  width:100%;
  height:200px;
}
.article-list-img img {
  clip-path: none;
}

.article-read-image {
  width: 800px;
  height: auto;
}

.article-body {

}

.comments {

}

.text-align-right {
  text-align: right;
}

.display-none {
  display: none !important;
}

.label-group{
      display: block;
      padding-bottom: 8px;
    }
    .label-group > label{
      display: inline-block;
      color: #fff;
      background-color: #161f27;
      font-family: inherit;
      font-size: inherit;
      margin-right: 0px;
      margin-bottom: 6px;
      padding: 10px;
      border: none;
      /* border-radius: 6px 0 0 6px; */
      outline: none;
      border-right: 1px solid #2c3f50;
      }
    html > body > main > form > div.label-group > input:not([type=checkbox]):not([type=radio]), select{
      margin-left: 0px;
      /* border-radius: 0 6px 6px 0; */
      display: inline;
    }

    html > body > main > form > div.label-group > div.checkbox > input[type=checkbox]:not([type=radio]){
      visibility: hidden;
      }

    .image-cover{
      display: block;
      padding-bottom: 8px;
    }

    .checkbox {
        display: inline-block;
      }
      .checkbox label {
        display: block;
        width: 1.6rem;
        height: 1.6rem;
        transition: all .15s ease;
        cursor: pointer;
        background: #222;
        border-width: 5px 30px 5px 5px;
        border-style: solid;
        border-color: #333;
      }
      .checkbox input[type=checkbox]:checked + label {
        border-width: 5px 5px 5px 30px;
        background-color: #8fde8f;
      }
      .label-array > ul > li > input:not([type=checkbox]):not([type=radio]) {
        display: inline-block;
        /* border-radius: 6px 0 0 6px; */
      }
      .label-array > ul > li > input:not([type=checkbox]):not([type=radio])

      .label-array > ul > li {
        margin-top: 0.5rem;
        margin-bottom: 0.5rem;
        margin-bottom: 6px;
      }


      .label-array a {
        display: inline-block;
        color: #fff;
        background-color: #161f27;
        font-family: inherit;
        font-size: inherit;
        margin-right: 0px;
        margin-bottom: 6px;
        padding: 10px;
        border: none;
        /* border-radius: 0 6px 6px 0; */
        border-right: 1px solid #2c3f50;
      }

      .label-array a:focus {
        box-shadow: 0 0 0 2px rgba(0,150,191,.67);
      }

      a.remove-form-field, a.add-form-field {
        padding: .6rem 1rem .65rem 1rem;
        background-color: var(--color-5);
        text-decoration: none;
      }

      a.remove-form-field::before {
        content: '➖ ';
      }

      a.add-form-field::before {
        content: '➕ ';
      }

article {
    border-bottom: 2px solid var(--color-1);
    margin-bottom: 1rem;
}

article:last-of-type {
    border-bottom: none;
    margin-bottom: 0;
}

.table-col-bio {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    -o-text-overflow: ellipsis;
    max-width: 250px;
}