@charset "UTF-8";
:root{
  --color-1: #dbdbdb;
  --color-2: #202b38;
  --color-3: #ffffff;
  --color-4: #0096bfab;
  --color-5: #161f27;
  --color-6: #324759;
  --color-7: #0096bfab;
  --color-8: #a9a9a9;
  --color-9: #41adff;
  --color-10: #ffbe85;
  --color-11: #415c73;
  --title-color: #dbdbdb;
}
