@charset "UTF-8";
:root{
  --color-1: #363636;
  --color-2: #fff;
  --color-3: #000;
  --color-4: #0096bfab;
  --color-5: #efefef;
  --color-6: #ddd;
  --color-7: #949494;
  --color-8: #0076d1;
  --color-9: #dbdbdb;
  --color-10: #d5d5d5;
  --color-11: #c4c4c4;
  --title-color: #363636;
}
