<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title><%= Deusexlog.Application.site_name_data %></title>
    <link rel="stylesheet" href="<%= Routes.static_path(@conn, "/css/app.css") %>"/>
    <script src="<%= Routes.static_path(@conn, "/js/app.js") %>" ></script>
  </head>
  <body>
    <header>
      <h1 class="title"><%= Deusexlog.Application.site_name_data %></h1>
    </header>
    <nav role="navigation">
      <%= link "Home", to: Routes.page_path(@conn, :index) %>
      <%= link "Users", to: Routes.user_path(@conn, :index) %>
      <%= link "Post", to: Routes.post_path(@conn, :index) %>
      <%= link "Articles", to: Routes.article_path(@conn, :index) %>
      <%= link "Admin", to: Routes.admin_path(@conn, :index) %>
      <%= link "Logout", to: Routes.session_path(@conn, :logout) %>
      <%# link "Admin #{@current_user.username}", to: Routes.current_user_path(@conn, :show) %>
    </nav>
    <div>
      <script type="text/javascript" src="<%= Routes.static_path(@conn, "/js/app.js") %>"></script>
      <script src="https://uicdn.toast.com/editor/latest/toastui-editor-all.min.js"></script>
      <script>
        const Editor = toastui.Editor;
      </script>
      <main role="main" class="container">
        <p class="alert alert-info" role="alert"><%= get_flash(@conn, :info) %></p>
        <p class="alert alert-danger" role="alert"><%= get_flash(@conn, :error) %></p>
        <%= render @view_module, @view_template, assigns %>
      </main>
    </div>
  </body>
</html>
