<section>
  <%= case File.read("README.md") do
    {:ok, body}      -> raw(Earmark.as_html!(body))# do something with the `body`
    {:error, reason} -> raw(Earmark.as_html!(reason))# handle the error caused by `reason`
  end %>
</section>
