<nav class="admin-left-nav">
  <%= link "Users", to: Routes.user_path(@conn, :index) %>
  <%= link "Posts", to: Routes.post_path(@conn, :index) %>
  <%= link "Comments", to: Routes.comment_path(@conn, :index) %>
</nav>
<section>
  <%= case File.read("README.md") do
    {:ok, body}      -> raw(Earmark.as_html!(body))# do something with the `body`
    {:error, reason} -> raw(Earmark.as_html!(reason))# handle the error caused by `reason`
  end %>
</section>
